:root {
  font-size: 62.5%;
  --blue: #298edb;
  --soft-blue: #a8eeff;
  --pastel-blue: #6a8da4;
  --white: #fff;
  --off-white: #ebebeb;
  --grey: #c6c6c6;
  --dark-grey: #444444;
  --black: #121010;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}
ul,
li {
  list-style: none;
  display: inline-block;
}
a,
a:active,
a:visited,
a:link {
  color: inherit;
  height: inherit;
  text-decoration: none;
}

/* Navbar */
nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  min-width: 320px;
}
nav img {
  width: 140px;
  height: 60px;
  align-self: center;
}
nav li,
nav ul {
  margin: 0 8px;
}
nav a {
  color: var(--dark-grey);
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}

/** Main **/
.hero {
  position: relative;
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: var(--pastel-blue);
  display: flex;
  align-items: center;
}
.hero-left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
  height: 100%;
  width: 44%;
  color: var(--white);
  z-index: 2;
}
.hero-right {
  position: absolute;
  right: 0;
  width: 64%;
  height: 100%;
}
.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}
.services-title {
  padding: 2rem;
}
.services-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: auto;
  max-width: 1200px;
}
.services-cards img {
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 360px;
  object-fit: cover;
  border-radius: 8px;
}
.services-cards .card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--grey);
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.contact-title {
  align-self: center;
}
.contact-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 60%;
  margin: 2.4rem auto;
  box-shadow: 0 0 20px 0 var(--off-white);
  border-radius: 8px;
}
.contact-form {
  padding: 2rem;
  border-radius: 8px 0 0 8px;
}
.contact-form h3 {
  margin-bottom: 16px;
}
.contact-form textarea {
  height: 60px;
  resize: none;
}
.contact-info {
  padding: 2rem;
  color: var(--off-white);
  background-color: var(--dark-grey);
  border-radius: 0 8px 8px 0;
}
.contact-info div {
  min-width: 280px;
  margin-top: 12px;
  line-height: 2rem;
}
.form-input {
  width: 100%;
  height: 35px;
  padding: 12px 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid var(--grey);
  font: inherit;
  font-size: 1.4rem;
}
.form-btn {
  width: 100%;
  padding: 6px;
  color: var(--white);
  border: 0;
  border-radius: 6px;
  background-color: var(--black);
  height: 40px;
  font-size: 1.4rem;
}
.form-btn:hover {
  cursor: pointer;
}
#author {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 1rem;
}
