:root {
  font-size: 62.5%;
  --blue: #298edb;
  --soft-blue: #a8eeff;
  --pastel-blue: #206b82;
  --white: #fff;
  --off-white: #ebebeb;
  --green: #aec999;
  --light-green: #c4dfb8;
  --dark-green: #3c763d;
  --grey: #c3c3c3;
  --dark-grey: #525252;
  --black: #121010;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}
ul,
li {
  list-style: none;
  display: inline-block;
}
a,
a:active,
a:visited,
a:link {
  height: inherit;
  text-decoration: none;
}

/* Navbar */
nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  min-width: 320px;
  margin-bottom: 20px;
}
nav img {
  width: 140px;
  height: 60px;
  align-self: center;
}
nav li, nav ul {
  margin: 0 8px;
}
nav a {
  color: var(--dark-grey);
}
