:root {
  font-size: 62.5%;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}
ul,
li {
  list-style: none;
  display: inline-block;
}
a,
a:active,
a:visited,
a:link {
  height: inherit;
  text-decoration: none;
  color: var(--black);
}

/* Navbar */
nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  min-width: 320px;
  border-bottom: 1px solid blue;
}
nav img {
  width: 140px;
  height: 60px;
  align-self: center;
}
nav li, nav ul {
  margin: 0 8px;
}
